## -*- coding: utf-8 -*-

<%def name="html_sidebar_links()">
    %for url, text in sidebar_links[lang]:
        % if rel_link(permalink, url) == "#":
            <li><a href="${url}" class="button success">${text}</a></li>
        %else:
            <li><a href="${url}" class="button">${text}</a></li>
        %endif
    %endfor
</%def>